In [1]:
import pandas as pd
import sagemaker

In [2]:
df = pd.read_csv('./data/train/loans.csv')

In [3]:
df.head(5)

,loan_status,loan_amount,funded_amount_by_investors,loan_term,interest_rate,installment,grade,sub_grade,verification_status,issued_on,...,inquiries_last_6_months,open_credit_lines,derogatory_public_records,revolving_line_utilization_rate,total_credit_lines,employment_length,employer_title,home_ownership,annual_income,employer_title_features
0,fully paid,5000,4975.0,36,0.272822,162.87,b,b2,verified,2011-12-01,...,1,3,0,83.7,9,10.0,NaN,rent,24000.0,"(20007,[0],[2.5966152171060037])"
1,charged off,2500,2500.0,60,0.513824,59.83,c,c4,source verified,2011-12-01,...,5,3,0,9.4,4,1.0,ryder,rent,30000.0,"(20007,[2139],[8.643649615368796])"
2,fully paid,2400,2400.0,36,0.549817,84.33,c,c5,not verified,2011-12-01,...,2,2,0,98.5,10,10.0,NaN,rent,12252.0,"(20007,[0],[2.5966152171060037])"
3,fully paid,10000,10000.0,36,0.420970,339.31,c,c1,source verified,2011-12-01,...,1,10,0,21.0,37,10.0,air resources board,rent,49200.0,"(20007,[47,72,201],[5.147142053902316,5.552607..."
4,current,3000,3000.0,60,0.379238,67.79,b,b5,source verified,2011-12-01,...,0,15,0,53.9,38,1.0,university medical group,rent,80000.0,"(20007,[12,14,18],[3.989689265211273,4.1018757..."

In [5]:
df['loan_status'].value_counts()

fully paid     32950
charged off     5627
current         1140
Name: loan_status, dtype: int64

In [6]:
df.shape

(39717, 23)

In [7]:
df.columns

Index(['loan_status', 'loan_amount', 'funded_amount_by_investors', 'loan_term',
       'interest_rate', 'installment', 'grade', 'sub_grade',
       'verification_status', 'issued_on', 'purpose', 'dti',
       'earliest_credit_line', 'inquiries_last_6_months', 'open_credit_lines',
       'derogatory_public_records', 'revolving_line_utilization_rate',
       'total_credit_lines', 'employment_length', 'employer_title',
       'home_ownership', 'annual_income', 'employer_title_features'],
      dtype='object')

### Upload datasets from local to S3

In [8]:
session = sagemaker.Session()
default_bucket = session.default_bucket()
print(f'Default S3 bucket = {default_bucket}')

Default S3 bucket = sagemaker-us-east-1-892313895307

In [9]:
!aws s3 cp ./data/loans-part-1.csv s3://{default_bucket}/loan-default/

upload: data/loans-part-1.csv to s3://sagemaker-us-east-1-892313895307/loan-default/loans-part-1.csv

In [10]:
!aws s3 cp ./data/loans-part-2.csv s3://{default_bucket}/loan-default/

upload: data/loans-part-2.csv to s3://sagemaker-us-east-1-892313895307/loan-default/loans-part-2.csv

In [11]:
!aws s3 cp ./data/train/loans.csv s3://{default_bucket}/loan-default/

upload: data/train/loans.csv to s3://sagemaker-us-east-1-892313895307/loan-default/loans.csv