In [19]:
import pandas as pd
import sagemaker

In [20]:
df = pd.read_csv('./data/train/loans.csv')

In [21]:
df.head(5)

,id,loan_status,loan_amount,funded_amount_by_investors,loan_term,interest_rate,installment,grade,sub_grade,employment_length,...,issued_on,purpose,dti,earliest_credit_line,inquiries_last_6_months,open_credit_lines,derogatory_public_records,revolving_line_utilization_rate,total_credit_lines,employer_title
0,1077501,fully paid,5000,4975.0,36,10.65,162.87,b,b2,10.0,...,2011-12-01,credit_card,27.65,1985-01-01,1,3,0,83.7,9,NaN
1,1077430,charged off,2500,2500.0,60,15.27,59.83,c,c4,1.0,...,2011-12-01,car,1.00,1999-04-01,5,3,0,9.4,4,ryder
2,1077175,fully paid,2400,2400.0,36,15.96,84.33,c,c5,10.0,...,2011-12-01,small_business,8.72,2001-11-01,2,2,0,98.5,10,NaN
3,1076863,fully paid,10000,10000.0,36,13.49,339.31,c,c1,10.0,...,2011-12-01,other,20.00,1996-02-01,1,10,0,21.0,37,air resources board
4,1075358,current,3000,3000.0,60,12.69,67.79,b,b5,1.0,...,2011-12-01,other,17.94,1996-01-01,0,15,0,53.9,38,university medical group

In [22]:
df.shape

(39717, 23)

In [23]:
df.columns

Index(['id', 'loan_status', 'loan_amount', 'funded_amount_by_investors',
       'loan_term', 'interest_rate', 'installment', 'grade', 'sub_grade',
       'employment_length', 'home_ownership', 'annual_income',
       'verification_status', 'issued_on', 'purpose', 'dti',
       'earliest_credit_line', 'inquiries_last_6_months', 'open_credit_lines',
       'derogatory_public_records', 'revolving_line_utilization_rate',
       'total_credit_lines', 'employer_title'],
      dtype='object')

### Upload datasets from local to S3

In [15]:
session = sagemaker.Session()
default_bucket = session.default_bucket()
print(f'Default S3 bucket = {default_bucket}')

Default S3 bucket = sagemaker-us-east-1-892313895307

In [16]:
!aws s3 cp ./data/loans-part-1.csv s3://{default_bucket}/loan-default/

upload: data/loans-part-1.csv to s3://sagemaker-us-east-1-892313895307/loan-default/loans-part-1.csv

In [17]:
!aws s3 cp ./data/loans-part-2.csv s3://{default_bucket}/loan-default/

upload: data/loans-part-2.csv to s3://sagemaker-us-east-1-892313895307/loan-default/loans-part-2.csv

In [18]:
!aws s3 cp ./data/train/loans.csv s3://{default_bucket}/loan-default/

upload: data/train/loans.csv to s3://sagemaker-us-east-1-892313895307/loan-default/loans.csv