In [1]:
import pandas as pd
import sagemaker

In [2]:
df = pd.read_csv('./data/train/loans.csv')

In [3]:
df.head(5)

,loan_status,loan_amount,funded_amount_by_investors,term,interest_rate,installment,grade,sub_grade,employment_length,home_ownership,...,verification_status,issued_month,purpose,dti,earliest_credit_line,inquiries_last_6_months,open_credit_lines,derogatory_public_records,revolving_line_utilization_rate,total_credit_lines
0,0,14400,13837.40751,36,12.18,479.52,B,B4,10,OWN,...,Verified,Dec-09,debt_consolidation,0.00,Aug-96,3,2,0,0.0,4
1,0,18000,17750.00000,60,11.11,392.36,B,B5,10,MORTGAGE,...,Verified,May-11,debt_consolidation,26.40,Oct-97,0,15,0,42.0,44
2,1,12375,12375.00000,60,23.13,349.79,G,G2,5,RENT,...,Not Verified,Dec-11,other,20.88,Jan-96,0,27,0,22.5,31
3,1,14800,14800.00000,60,13.49,340.47,C,C1,7,OWN,...,Not Verified,Sep-11,debt_consolidation,8.82,Feb-98,0,6,1,71.6,11
4,1,4000,4000.00000,60,17.49,100.47,D,D5,1,RENT,...,Not Verified,Jul-11,car,6.92,Jan-08,2,7,0,37.3,7

In [4]:
df.shape

(10000, 21)

### Upload datasets from local to S3

In [5]:
session = sagemaker.Session()
default_bucket = session.default_bucket()
print(f'Default S3 bucket = {default_bucket}')

Default S3 bucket = sagemaker-us-east-1-892313895307

In [6]:
!aws s3 cp ./data/loans-part-1.csv s3://{default_bucket}/loan-default/

upload: data/loans-part-1.csv to s3://sagemaker-us-east-1-892313895307/loan-default/loans-part-1.csv

In [7]:
!aws s3 cp ./data/loans-part-2.csv s3://{default_bucket}/loan-default/

upload: data/loans-part-2.csv to s3://sagemaker-us-east-1-892313895307/loan-default/loans-part-2.csv

In [8]:
!aws s3 cp ./data/train/loans.csv s3://{default_bucket}/loan-default/

upload: data/train/loans.csv to s3://sagemaker-us-east-1-892313895307/loan-default/loans.csv